html {
        box-sizing: border-box;
        color:red;
        /*background-image: url() */
        background-color: #D9DADC ;
       
       
}
* {
    margin:0;
}

a, li{
    text-decoration: none;
    color:inherit;
    list-style-type: none;
    
}



.container  {
    width:900px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
     line-height: 10vh;
}

.gnb > li {
    display: inline;
    padding-left: 20px;
 }

.landing {
         height: 40vh;
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         text-align: center;
        
}

.landing-title {
    height: 70%;
    font-size: 50px;
   
    align-items:center;
}

.landing-para{
    width: 60%;
    padding-bottom:30px;
}

/*section */

.portfolio {
    display: flex;
    height: 50vh;
    
    
}

.work{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: nowrap;
}

.work > img {
    height: 30vh;
    width : 30vh;
}

.work > p{
    width:40%;
}